body{ margin:0px; padding: 0px; font-size: 12px; line-height: 130%;}
select{border-style: none;background-color: transparent;width: 100%;height: 100%;text-align: center;outline: none;appearance:none;}
textarea{ resize: none;}
.right{ float: right;}
.center{text-align: center !important;}
.hide{ display: none;}
.show{ display: block;}
.vhide{ visibility: hidden;}
.vshow{visibility: visible;}
.error{border-color: red;}
.button{ margin: 0px 5px;}
.errorResult{color:red;}
.hand{cursor: pointer;}
input{-webkit-appearance : none ;border-radius: 0;}
input:read-only,.rdonly,.snitem{background:#EEEEEE !important;}
/*aside*/
ul,li{ margin: 0px; padding: 0px;list-style: none; }
ul.inp li{ list-style: none; padding: 5px; width: 300px; line-height: 20px;}
ul.inp span{ display: inline-block; width: 80px;}
ul.inp .inpitem,.error{ line-height: 20px; width: 200px; margin-left: 5px;}
#mbg{position: absolute; top: 0px; left: 0px; z-index: 9999; width: 100%; height: 100%;background:url(../img/bg.png); }
#showresult{
	position: absolute;top: 0; left: 0; z-index: 10000; width: 140px;border-radius: 3px;
	background: #fff;background: rgba(255,255,255,0.8); cursor: move; height: 24px;border:1px solid #7F7F80;
}
#showresult_out{
	margin-right: 25px;
	height: 24px;
	line-height: 24px;
	word-break: keep-all;
	white-space: nowrap;
	padding:0px 5px;
	overflow: hidden;
	user-select:none;    
}
#showresult_close{
	height: 24px;
	width: 24px;
	background: url(../img/close.png) no-repeat;
	float: right;
	cursor: pointer;
}
#msg{
	position: fixed;top: 5px; left: 50%; margin-left: -160px; z-index: 10000;
	background-color: #fff;overflow: hidden;
	padding: 0px;
	background: #fff;
	width: 320px;
	height: 190px;
	border:1px solid #CDCDCD;
	border-radius: 5px;
}
#msg >h3{ 
	display: block; line-height: 40px; text-align: center;border-bottom: 1px solid #CDCDCD;
	margin: 0px; padding: 0px;
}
#msg >ul{ margin: 0px 10px;}
#mbg p{ text-align: center; margin: 0px; padding: 10px;}
#inp_start,#inp_step{
	position: absolute;
	border: 1px solid #7F7F80;
	text-align: right;
	padding: 0 5px;
	background-color: #FFF;
	background-position: 2px center;
	background-repeat: no-repeat;
	background-size: auto 40%;
}
#inp_start:read-only,#inp_step:read-only
{
	display: block !important;
}
#inp_start{
	background-image: url(../img/je.png);
}
#box_repayment{
	position: fixed;
	padding: 0px 10px;
	background: #fff;
	width: 300px;
	height: 110px;
	border:1px solid #CDCDCD;
	border-radius: 5px;
}
.switchbox{
	float: right;
}
#editer{
	position:relative;
}
#canteditface{
	position:absolute;
	height: 100%;
	top: 0;
	background:url(../img/bg.png) no-repeat;
	background-size: cover;
	display: none;
	z-index: 9;
}
.vipface{
	position: absolute;
	top: 0;
	right: 0;
	height: 10px;
	width: 10px;
	z-index: 10;
	background: #d6ecff;
}
#canteditface{left:0;width: 100%;}
ul.libutton >li{ line-height: 30px; cursor:pointer; list-style: none;  text-align: center;}
ul.libutton >li:hover{ background-color:#eee;}
#waiting{
	position: fixed;
	z-index: 999;
	border:1px solid #CDCDCD;
	border-radius: 5px;
	background-color:#fff;
	padding: 5px;
	width: 300px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-left:-150px;
	top:5px;
	left:50%;
}
#impbox{
	position: fixed;
	z-index: 999;
	border:1px solid #CDCDCD;
	border-radius: 5px;
	background-color:#fff;
	padding: 5px;
	width: 400px;
	margin-left:-200px;
	top:30px;
	left:50%;
}
#impinp{
	width: 400px;
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	resize: none;
	margin: 0;
	padding: 0;
}
#op_B2,#op_G8,#op_G9{display: none;}
#dosolveResult_close_button{ position: absolute; top: 1px; right: 2px; cursor: pointer;}
/*header*/
#header{background: #eee;}
#header input{margin: 10px 5px;}
#main{ width: 1172px; margin: auto; text-align: center; padding-top: 10px;}
/*容器效果*/
#snbox,#listbox,#box,.itembox{
	display: inline-block;
	vertical-align: top;
	-ms-box-sizing: content-box;
	box-sizing:content-box;
}
#box{
	border:1px solid #808080;
	border-right: 0;
	border-bottom: 0;
	text-align: left;
	width: 1170px;
	font-size: 0;
}
/*td效果*/
.title,.itembox,.item,.litem,.ditem,.snitem{
	vertical-align: top;
	display: inline-block;
	width: 130px;
	height: 25px;
	line-height: 25px;
	border-top: 0;
	border-left: 0;
	font-size: 12px;
	padding: 0 5px;
	margin: 0;
	-ms-box-sizing: border-box;
	box-sizing:border-box;
	background: transparent;
	overflow: hidden;
}
/*边框效果*/
.title,.item,.litem,.ditem,.sp,.snitem{
	border: 1px solid #808080;
	border-top: 0;
	border-left: 0;
}
#snbox{
	width: 50px;
}
.snitem{
	text-align: center;
	width:50px !important;
	overflow: hidden;
}
#listbox{
	width: auto;
}
.itembox{
	padding: 0;
	overflow: hidden;
	position: relative;
}
.title{
	background: #BDD7EE;
	font-weight: bold;
	font-size: 12px;
}
.title>b{color: red;margin-left:3px;}
.relative{
	position: relative;
}
.icon{
	height: 25px;
	width: 25px;
	position: absolute;
	top: 0;
	right: 0;
	background-position: center center;
	background-repeat: no-repeat;
}
.calc{
	background-image: url(../img/calc.png);
	display: none;
}
.leftico{
	background-image: url(../img/left.png);
}
.rightico{
	background-image: url(../img/right.png);
}
.sp{ height: 15px; width: 100%;-ms-box-sizing: border-box;box-sizing:border-box;}
.item,.litem{
	text-align: right;
}
.litem{
	width: 130px;
}
.ditem{
	text-align: center;
	width: 80px;
}
.selectitem,#inp_start:read-only,#inp_step:read-only{
	border-bottom:1px solid red; background-color:azure !important;cursor: pointer;
}